<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GLAU Chatbot</title>
</head>
<body>
    <div id="root"></div>
    <!-- Your React application will be injected into this div -->

    <!-- Add your stylesheets here -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" href="%PUBLIC_URL%/main.css">
    
    <!-- Add your scripts here -->
    <!-- Bootstrap and other scripts as needed -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js" integrity="sha384-N3XSmSFj7S6HCA9kdBZzPVtkAHz5t1Y0tJepuT/DaenZuaT7rcmV6cQQkMvwe/E1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8sh+8j/8A/p2BEpSvJcY6f3/kweCIvmRDfrxXb" crossorigin="anonymous"></script>

    <!-- Your React application script -->
    <script src="%PUBLIC_URL%/static/js/bundle.js"></script>
</body>
</html>
